<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" [attr.data-background]="background">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8">
                            <div class="hero__caption">
                                <p [attr.data-animation]="fadeInLeft" [attr.data-delay]="delay4">Welcome to Mboalab</p>
                                <h1 [attr.data-animation]="fadeInLeft" [attr.data-delay]="delay6" >Researching for a better life</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn" [attr.data-animation]="fadeInLeft" [attr.data-delay]="delay8">
                                    <a href="industries.html" class="btn hero-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Front -->
                        <div class="single-profile-front">
                            <div class="profile-img">
                                <img src="assets/img/team/team_1.jpg" alt="">
                            </div>
                            <div class="profile-caption">
                                <h4><a href="#">Accessible Healthcare</a></h4>
                                <p>Facilitate access to basic health care..</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Front -->
                        <div class="single-profile-front">
                            <div class="profile-img">
                                <img src="assets/img/team/team_2.jpg" alt="">
                            </div>
                            <div class="profile-caption">
                                <h4><a href="#">Education</a></h4>
                                <p>provide community and lifelong education for the population, as well as formal education for the younger generations.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Back -->
                        <div class="single-profile-back-last">
                            <h2>What our aim is.</h2>
                            <p>The aim of MboaLab is to catalyse sustainable local development and
                                improve people’s living conditions through open science. To this
                                end, the main missions of Mboalab are as follows:.</p>
                            <a href="#">View profile »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team-profile End-->

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-7 col-lg-7">
                    <div class="trusted-img">
                        <img src="assets/img/team/wetrusted.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-caption">
                       <h2>Exchanges</h2>
                       <p>Serve as a platform for exchanges on issues related to local context.</p>
                        <a href="#" class="btn trusted-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- We Trusted End-->

    <!-- services Area Start-->
    <div class="services-area section-padding2">
        <div class="container">
            <!-- section tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist"></span>
                        </div>
                        <div class="services-caption">
                            <h4>Mediate</h4>
                            <p>Mediate between local communities and academia;.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-audit"></span>
                        </div>
                        <div class="services-caption">
                            <h4>Community solutions</h4>
                            <p>Propose solutions that meet the needs of communities, using local knowledge and open digital technologies</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist-1"></span>
                        </div>
                        <div class="services-caption">
                            <h4>Awareness</h4>
                            <p>Raise public awareness of environmental issues</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-50">
                    <a href="#" class="border-btn">More Services</a>
                </div>
            </div>
        </div>
    </div>
    <!-- services Area End-->
    
    <!-- Completed Cases Start -->
    <div class="completed-cases section-padding3">
        <div class="container-fluid">
            <div class="row">
                <!-- slider Heading -->
                <div class="col-xl-4 col-lg-4 col-md-8">
                    <div class="single-cases-info mb-30">
                        <h3>Role of Mboalab Biotech</h3>
                        <p>Mboalab Biotech is a node of the Open Bioeconomy Lab hosted in MboaLab space. Established in 2018, the lab currently runs a number of projects amongst which the open enzyme manufacturing project. At its core, our work in Mboalab Biotech is focused on making biotechnology research and tools more accessible to labs around the world through scientific research and development and local production of reagents. We are committed to the development of open educational resources as well as simple and cost-effective protocols that can be applied in resource-limited laboratories. We also provide scientific research projects targeting local health issues, internships opportunities, and training sessions to young local scientists in order to equip them with molecular biology and DIY- Biology skills, and prepare them for employment.</p>
                        <a href="gallery.html" class="border-btn border-btn2">See more</a>
                    </div>
                </div>
                <!-- OwL -->
                <div class="col-xl-8 col-lg-8 col-md-col-md-7">
                    <div class=" completed-active owl-carousel"> 
                        <div class="single-cases-img">
                            <img src="assets/img/service/completed_case_1.png" alt="">
                            <!-- img hover caption -->
                           <div class="single-cases-cap">
                                <h4><a href="case_details.html">Marketing Strategy</a></h4>
                                <p>Completely impact synergistic mindshare whereas premium services.</p>
                                <span>Advisory</span>
                           </div>
                        </div>
                        <div class="single-cases-img">
                            <img src="assets/img/service/completed_case_2.png" alt="">
                            <!-- img hover caption -->
                           <div class="single-cases-cap">
                               <h4><a href="case_details.html">Marketing Strategy</a></h4>
                                <p>Completely impact synergistic mindshare whereas premium services.</p>
                                <span>Advisory</span>
                           </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Completed Cases end -->

    <!-- Testimonial Start -->
    <div class="testimonial-area fix">
        <div class="container">
           <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial pt-65">
                            <!-- Testimonial tittle -->
                            <div class="testimonial-icon mb-45">
                                <img src="assets/img/logo/testimonial.png"  class="ani-btn" alt="">
                            </div>
                             <!-- Testimonial Content -->
                            <div class="testimonial-caption text-center">
                                <p>Mboalab is the leading research organization in Cameroon. It fosters to solve problems which plague society and their determination to get things done is amazing. </p>
                                <!-- Rattion -->
                                <div class="testimonial-ratting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rattiong-caption">
                                    <span>Dr Clifford Frazier<span> - University of Dschang</span> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Recent Area Start -->
    <div class="recent-area section-paddingt">
        <div class="container">
            <!-- section tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <h2>Our Recent News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-recent-cap mb-30">
                        <div class="recent-img">
                            <img src="assets/img/recent/rcent_1.png" alt="">
                        </div>
                        <div class="recent-cap">
                            <span>Yaounde Conference</span>
                            <h4><a href="single-blog.html">Amazing presentations by top research doctors</a></h4>
                            <p>Nov 30, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-recent-cap mb-30">
                        <div class="recent-img">
                            <img src="assets/img/recent/rcent_2.png" alt="">
                        </div>
                        <div class="recent-cap">
                            <span>AI and its role in Mboalab</span>
                            <h4><a href="single-blog.html">Why did we take the AI path</a></h4>
                            <p>July 30, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-recent-cap mb-30">
                        <div class="recent-img">
                            <img src="assets/img/recent/rcent_3.png" alt="">
                        </div>
                        <div class="recent-cap">
                            <span>Submitting papers in Mboalab</span>
                            <h4><a href="single-blog.html">What does it take to submit papers under us</a></h4>
                            <p>August 22, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Area End-->

    <!-- Request Back Start -->
    <div class="request-back-area section-padding30">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="request-content">
                        <h3>Reach out to us.</h3>
                        <p>We're always here to listen.Submit your request and we will get back to you within 2 business days.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <!-- Contact form Start -->
                    <div class="form-wrapper">
                        <form id="contact-form" action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box  mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box mb-30">
                                        <input type="text" name="email" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 mb-30">
                                    <div class="select-itms">
                                        <select name="select" id="select1">
                                            <option value="">Services</option>
                                            <option value="">Education</option>
                                            <option value="">Artificial Intelligence</option>
                                            <option value="">Outreachy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <button type="submit" class="send-btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>     <!-- Contact form End -->
            </div>
        </div>
    </div>
    <!-- Request Back End -->

</main>